.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.box {
  border: 1px solid #000;
  background: rgba(238, 238, 238, 0.562);
  padding: 20px;
  margin: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.box p {
  margin: 0
}

